<div class="about section">
  <div class="about__content">
    <div class="wrapper">
      <p class="lede">
        After selling out in San Francisco and New York, Culture Amp is bringing its Culture x Design unconference to Melbourne
      </p>
      <p>
        Join leading thinkers from Slack, Deloitte and Culture Amp to learn about how you can design a company culture that drives innovation and productivity with motivated and engaged employees.
      </p>
      <p>
        Better still, the day is designed to be interactive with an 'unconference' format. Get involved by joining a discussion or leading one of your own. Share your current challenges and offer insights to others.
      </p>
      <p>
        We believe in the power of collective knowledge and we’re excited about exploring people and culture with you.
      </p>


      <p class="lede">
        The event is designed for:
      </p>
      <p>
        <ul class="event-peeps">
          <li>
            CEOs
          </li>
          <li>
            HR professionals
          </li>
          <li>
            Leadership teams
          </li>
          <li>
            Changemakers
          </li>
          <li>
            Innovation experts
          </li>
          <li>
            HR consultants
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
