<head>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="The unconference for People Geeks. Coming together to explore the future of people and culture." />
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="https://cloud.typography.com/6384974/7103752/css/fonts.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" media="screen" rel="stylesheet">

  <meta name="twitter:card" content="The unconference for People Geeks. Coming together to explore the future of people and culture." />
  <meta name="twitter:site" content="@cultureamp" />
  <meta name="twitter:creator" content="@cultureamp" />
  <meta name="twitter:title" content="Culture x Design Melbourne 2016" />
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}
  <meta name="twitter:description" content="The unconference for People Geeks. Coming together to explore the future of people and culture." />
  <meta name="twitter:image:src" content="http://culturexdesign.com/images/cxd-twitter.png" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://culturexdesign.com" />
  <meta property="og:title" content="Culture x Design MEL 2016" />
  <meta property="og:description" content="The unconference for People Geeks. Coming together to explore the future of people and culture." />
  <meta property="og:image" content="http://culturexdesign.com/images/cxd-twitter.png" />
</head>
