---
---
%head
  %meta{ charset: "utf-8" }

  %title {{site.title}}

  %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}

  %link{ href: "/favicon.ico", rel: "shortcut icon"}

  %link{ rel: "stylesheet", type: "text/css", href: "https://cloud.typography.com/6384974/7103752/css/fonts.css" }

  %link{ href: "/css/main.css", media: "screen", rel: "stylesheet" }

  -# Search engines
  %meta{ name: "description", content: "The unconference for People Geeks. Coming together to explore the future of people and culture." }
  -# Twitter
  %meta{ name: "twitter:card", content: "The unconference for People Geeks. Coming together to explore the future of people and culture."}
  %meta{ name: "twitter:site", content: "@cultureamp" }
  %meta{ name: "twitter:title", content: "Culture x Design Melbourne 2016" }
  %meta{ name: "twitter:description", content: "The unconference for People Geeks. Coming together to explore the future of people and culture." }
  %meta{ name: "twitter:creator", content: "@cultureamp" }
  %meta{ name: "twitter:image:src", content: "http://culturexdesign.com/images/cxd-twitter.png" }

  %meta{ property: "og:image", content: "http://culturexdesign.com/images/cxd-twitter.png" }
  %meta{ property: "og:url", content: "http://culturexdesign.com" }
  %meta{ property: "og:title", content: "{{site.title}}" }
  %meta{ property: "og:description", content: "The unconference for People Geeks. Coming together to explore the future of people and culture." }
