<head>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link href='/favicon.ico' rel='shortcut icon'>
  <link href='https://cloud.typography.com/6384974/7103752/css/fonts.css' rel='stylesheet' type='text/css'>
  <link href='/css/main.css' media='screen' rel='stylesheet'>
  <meta content='The unconference for People Geeks. Coming together to explore the future of people and culture.' name='description'>
  <meta content='The unconference for People Geeks. Coming together to explore the future of people and culture.' name='twitter:card'>
  <meta content='@cultureamp' name='twitter:site'>
  <meta content='Culture x Design Melbourne 2016' name='twitter:title'>
  <meta content='The unconference for People Geeks. Coming together to explore the future of people and culture.' name='twitter:description'>
  <meta content='@cultureamp' name='twitter:creator'>
  <meta content='http://culturexdesign.com/images/cxd-twitter.png' name='twitter:image:src'>
  <meta content='http://culturexdesign.com/images/cxd-twitter.png' property='og:image'>
  <meta content='http://culturexdesign.com' property='og:url'>
  <meta content='Culture x Design MEL 2016' property='og:title'>
  <meta content='The unconference for People Geeks. Coming together to explore the future of people and culture.' property='og:description'>
</head>
