---
---
.hero
  .wrapper
    .hero__banner
      Culture x Design is coming to Melbourne! 
    .hero__logo
      .logo
        .logo__one<
          Culture&#x00d7;
        .logo__two
          Design
    .hero__content
      .hero__tagline
        The unconference for People Geeks
      .hero__date
        Mel Jun 20 2016

