<div class='hero'>
  <div class='wrapper'>
    {% include nav.html %}
    <a class='button -small button-tickets -hero-page' href='https://www.eventbrite.com/e/culture-x-design-melbourne-2016-tickets-25704072573#tickets' target='_blank'>
      Get tickets!
    </a>
    <div class='hero__banner'>
      Culture x Design is coming to Melbourne! 
    </div>
    <div class='hero__logo'>
      <div class='logo'>
        <div class='logo__one'>Culture&#x00d7;</div>
        <div class='logo__two'>
          Design
        </div>
      </div>
    </div>
    <div class='hero__content'>
      <div class='hero__tagline'>
        Coming together to explore the future of people and culture
      </div>
      <div class='hero__date'>
        Mel Jul 20 2016
      </div>
    </div>
  </div>
</div>

