<div class='program section-inline -dark'>
  <div class='wrapper'>
    <h2 name="#program" >
      Program
    </h2>
    <ul class='program-list'>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            8.15<span class='program-list__time-mod'>AM</span>
          </div>
          Registration
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
          </div>
          Populate unconference grid
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            9.15<span class='program-list__time-mod'>AM</span>
          </div>
          Welcome
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            9.25<span class='program-list__time-mod'>AM</span>
          </div>
          Culture by Design
        </div>
        <div class='program-list__speaker'>
          Didier Elzinga, Culture Amp
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            10.00<span class='program-list__time-mod'>AM</span>
          </div>
          Keynote 1
        </div>
        <div class='program-list__speaker'>
          Dawn Sharifan, Slack
        </div>
      </li>
      <li class='program-list__item -break'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            10.45<span class='program-list__time-mod'>AM</span>
          </div>
        Morning tea
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            11.15<span class='program-list__time-mod'>AM</span>
          </div>
          Unconference session 1
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            11.50<span class='program-list__time-mod'>AM</span>
          </div>
          Unconference session 2
        </div>
      </li>
      <li class='program-list__item -break'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            12.30<span class='program-list__time-mod'>PM</span>
          </div>
          Lunch
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            1.30<span class='program-list__time-mod'>PM</span>
          </div>
          &ldquo;I Belong&rdquo; : Creating Inclusive Cultures
        </div>
        <div class='program-list__speaker'>
          Juliet Bourke, Deloitte
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            2.30<span class='program-list__time-mod'>PM</span>
          </div>
          Unconference session 3
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            3.05<span class='program-list__time-mod'>PM</span>
          </div>
          Unconference session 4
        </div>
      </li>
      <li class='program-list__item -break'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            3.45<span class='program-list__time-mod'>PM</span>
          </div>
          Afternoon tea
        </div>
      </li>
      <li class='program-list__item'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            4.15<span class='program-list__time-mod'>PM</span>
          </div>
          The New World of Influence&mdash;Leadership Through Story Power
        </div>
        <div class='program-list__speaker'>
          Yamini Naidu
        </div>
      </li>
      <li class='program-list__item '>
        <div class='program-list__title'>
          <div class='program-list__time'>
          </div>
          Closing remarks
        </div>
      </li>
      <li class='program-list__item -break'>
        <div class='program-list__title'>
          <div class='program-list__time'>
            5.30<span class='program-list__time-mod'>PM</span>
          </div>
          Happy hour
        </div>
      </li>
      <li class='program-list__item '>
        <div class='program-list__title'>
          <div class='program-list__time'>
            6.45<span class='program-list__time-mod'>PM</span>
          </div>
          Conference close
        </div>
      </li>
    </ul>
    <p class="program-disclaimer">
      Program is subject to change.
    </p>
  </div>
</div>

