---
---

.signup.section.-dark
  .wrapper
    %h2
      Keep me posted!
    %p
      More speaker and ticket info coming soon! For announcements and updates follow us
      %a{ href: "https://twitter.com/CultureAmp", target: "_blank" }<
        @cultureamp
      %span> &nbsp;or sign up to our mailing list
    %p
      -# <!--[if lte IE 8]>
      -#    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      -# <![endif]-->
      %script{ charset: "utf-8", type: "text/javascript", src: "//js.hsforms.net/forms/v2.js" }
      :javascript
        console.log("Help!!!");
        hbspt.forms.create({
          portalId: '516278',
          css: '',
          formId: '420f9564-2b0a-4940-9b3e-ef45e648c452',
          locale: 'en',
          translations: {
            en: {
              required: "Required"
            }
          }
        });


