<div class='speakers section -dark'>
  <div class='wrapper'>
    <h2>
      Keynote Speakers
    </h2>

    <div class="speaker">
      <div class="speaker__avatar" >
        <img src="/images/dawn-sharifan-avatar.jpg">
      </div>
      <h3 class="speaker__name">
        Dawn Sharifan
      </h3>
      <div class="speaker__title">
      </div>
      <div class="speaker__bio">
        Dawn leads the People team at Slack Technologies in San Francisco, and considers herself a lifelong learner and a passionate student. She is a Human Resources leader, with over 15 years’ experience in both public and private organisations, from start-ups to Fortune 500 companies.  She is also a member of the faculty at San Francisco State University where she has been teaching the next generation of HR professionals since 2014. Dawn earned her MBA from St. Mary's College of California, and a pilot's license from the FAA. Her life maxims are: 1. Self-Awareness is the key to everything; 2. Personal Growth is a b*tch; 3. Be kind.
      </div>
      <ul class="speaker__contacts">
        <li class="speaker__contact">
          <a href="https://twitter.com/dsharifan" target="_blank">@dsharifan</a>
        </li>
        <li class="speaker__contact">
          <a href="https://www.slack.com/" target="_blank">slack.com</a>
        </li>
      </ul>
    </div>

    <div class="speaker">
      <div class="speaker__avatar" >
        <img src="/images/yamini-naidu-avatar.jpg">
      </div>
      <h3 class="speaker__name">
        Yamini Naidu
      </h3>
      <div class="speaker__title">
      </div>
      <div class="speaker__bio">
        Yamini Naidu is the world’s only economist turned business storyteller and is rated among the top business storytellers globally. Best selling author, keynote speaker and mentor she works with leaders helping them shift from spread sheets to stories. Her new Book ‘Power Play: Game changing influence strategies for leaders’ is out now in all good book stores and online.
      </div>
      <ul class="speaker__contacts">
        <li class="speaker__contact">
          <a href="https://twitter.com/yamininaidu_" target="_blank">@yamininaidu_</a>
        </li>
        <li class="speaker__contact">
          <a href="http://yamininaidu.com.au/" target="_blank">yamininaidu.com.au</a>
        </li>
      </ul>
    </div>



     <div class="speaker">
      <div class="speaker__avatar" >
        <img src="/images/didier-elzinga-avatar.jpg">
      </div>
      <h3 class="speaker__name">
        Didier Elzinga
      </h3>
      <div class="speaker__title">
      </div>
      <div class="speaker__bio">
 Didier Elzinga is the CEO and Founder of Culture Amp - the world's leading all-in-one employee feedback and analytics platform and one of Australia's fastest growing technology startups with offices in Melbourne, San Francisco, New York &amp; London. He is passionate about making the world a better place to work, and is committed to keeping Culture Amp a culture-first company. He was previously the CEO of Rising Sun Pictures, founder of Rising Sun Research (winner of a Technical Academy Award) and Non-Executive Director at Tourism Australia. He is currently a non-executive director at The Atlassian Foundation and The Alfred Research Foundation.
      </div>
      <ul class="speaker__contacts">
        <li class="speaker__contact">
          <a href="https://twitter.com/didierelzinga" target="_blank">@didierelzinga</a>
        </li>
        <li class="speaker__contact">
          <a href="http://www.cultureamp.com" target="_blank">www.cultureamp.com</a>
        </li>
      </ul>
    </div>

  <p class="speakers__more">
    More exciting speakers to be announced soon!
  </p>
  </div>
</div>
