---
---
.sponsors.section
  .wrapper
    %h2
      Proudly brought to you by
    %p
      %a{href: "https://www.cultureamp.com", target: "blank"}
        %img.sponsors__calogo{src: "/images/ca-logo-rev.png"}
