---
---
.ticket.section.-dark
  .wrapper
    .ticket-section
      .tickets
        .ticket.-left
          .ticket__type
            Early Bird
          .ticket__price
            150
          .ticket__comment
        .ticket.-right
          .ticket__type
            Regular Bird
          .ticket__price
            200
          .ticket__comment
      %a.button{href: "https://www.eventbrite.com/e/culture-x-design-melbourne-2016-tickets-25704072573#tickets", target: "_blank"}
        Get your tickets now
