.map {
  position: relative;
  &__label{
    background: $dark-blue;
    padding: 20px;
    @include knockout29;
    text-transform: uppercase;
    max-width: 300px;
    margin: 50px auto;
    font-size: 25px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -150px;
    text-align: center;
  }
  &__label-line {
    margin-bottom: 20px;
  }
  #map {
    width: 100%;
    height: 500px;
  }
}

