.post {
  padding-top:1px;
  background: $blue;
  .post__image {
    &.-responsive {
      width: 700px;
      margin-left: -50px;
      height: auto;
      @include media-query(720px) {
        margin-left: auto;
        width: 100%;
      }
    }
    &.-responsive-j {
      width: 250px;
      height: auto;
    }
  }
  .post__content {
    margin-top: -400px;
    padding: 50px 0;
  }
  .post__header {
    text-align: center;
    color: $ink;
  }
  .post__meta {
    $space: 50px;
    max-width: 300px;
    padding-bottom: $space;
    margin: 0 auto $space;
    border-bottom: 1px solid $ink;
  }
  .post__body p,
  .post__body {
    text-align: left;
    color: $ink;
    h2, h3 {
      color: $ink;
      margin: 1em auto 1em;
    }
    a {
      color: $ink;
      &:hover {
        color: $ink;
        text-decoration: underline;
      }
    }
    .-lede {
      font-style:italic;
      // text-align: center;
    }
  }
  .post__divider {
    border-top: 1px solid $ink;
    $border-space: 40px;
    padding-top: $border-space;
    margin-top: $border-space;
    text-align: center;
  }
  .signup.section {
    padding: 0;
  }
  .hero {
    height: 800px;
    background: url(/images/heropost.png) center 0px no-repeat $blue;
    background-size: 1440px;
    a {
      color: $ink;
      &:hover {
        text-decoration:none;
        color: $ink;
      }
    }
  }
  @include media-query($on-phone) {
    .post__content {
      margin-top: -600px;
    }
  }

 .speaker__avatar {
    $avatar-width: 200px;
    width: $avatar-width;
    height: $avatar-width;
    border-radius: $avatar-width / 2;
    margin: 0 auto;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }

}

.post-list {
  list-style: none;
  padding: 0;
  font-size: 24px;
  .post-list__meta {
    color: white;
    color: rgba(255,255,255,0.6);
    padding-right: 10px;
  }
  .post-list__item {
    text-align: center;
    margin-bottom: 40px;
  }
  a.post-list__title {
    font-weight: 300;
  }
  .post-list__excerpt {
    color: white;
    color: rgba(255,255,255,0.6);
    font-size: 18px;
    font-style: italic;
  }
}

