.program {
  $item-spacing: 20px;
  $time-width: 100px;
  .program-list {
    margin: 0;
    list-style: none;
    padding: 0;
    color: white;
  }
  .program-list__item  {
    margin-bottom: $item-spacing;
    padding-bottom: $item-spacing;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    &.-break {
      color: white;
      color: rgba(255,255,255,0.6);
    }
  }
  .program-list__time {
    color: white;
    color: rgba(255,255,255,0.6);
    display: inline-block;
    width: $time-width;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .program-list__time-mod {
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 0.01em;
  }
  .program-list__title {
    display: inline-block;
    // font-weight: 500;
    font-size: 24px;
    position: relative;
    line-height: 1.2;
    padding-left: $time-width;
  }
  .program-list__speaker {
    display: block;
    font-size: 20px;
    color: white;
    color: rgba(255,255,255,0.6);
    padding-left: $time-width;
  }

  .program-disclaimer {
    font-size: 0.8em;
    margin: 50px 0;
  }
}
