.speakers {
  color: white;
  $text-size: 18px;
  $border-space: 60px;
  &.section {
    padding-bottom: 0;
  }
  &__more {
    // border-bottom: 1px solid white;
    // border-bottom: 1px solid rgba(255,255,255,0.4);
    // padding-bottom: 20px;
    background:  rgba(255,255,255,0.4);
    padding: 30px 20px;
    line-height: 1.2;
    color: $dark-blue;
    font-weight: 500;
  }
  .speaker {
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding-bottom: $border-space;
    margin-bottom: $border-space;
    &.-for-post {
      border:0;
      margin:0;
      padding-bottom:50px;
    }
    &:last-of-type {
      border: 0;
      padding-bottom: 40px;
      margin-bottom:0;
    }
    &__name {
      font-size: 28px;
      text-align:center;
    }
    &__title {
      text-align:center;
    }
    &__bio {
      font-size: $text-size;
    }
    &__contacts {
      list-style: none;
      margin: 0 auto;
      text-align: center;
    }
    &__avatar {
      $avatar-width: 200px;
      width: $avatar-width;
      height: $avatar-width;
      border-radius: $avatar-width / 2;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__contact {
      display: inline-block;
      font-size: $text-size;
      margin-top: 20px;
      &:after {
        content: "\00b7";
        font-size: 2em;
        margin: 0 10px;
        bottom: -7px;
        position: relative;
        line-height: 1;
      }
      &:last-of-type:after {
        content: "";
        position: static;
        margin: auto;
        font-size: 1em;
      }
    }
  }
}

@include media-query($on-phone) {
  .speakers {
    .speaker {
      &__contact {
        &:after {
          content: "";
        }
      }
    }
  }
}
