---
layout: default
---
{% include hero.html %}
{% include about.html %}
{% include speakers.html %}
{% include tickets.html %}
{% include news.html %}
{% include program.html %}
{% include video.html %}
{% include signup.html %}
{% include map.html %}

{{ content }}

{% include sponsors.html %}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $(".nav a[href^='#']").on('click', function(e) {
        // prevent default anchor click behavior
        e.preventDefault();
        // store hash
        var hash = this.hash;
        console.log(hash);
        // animate
        $('html, body').animate({
          scrollTop: $('[name="'+hash+'"]').offset().top - 60
        }, 300, function(){
         // when done, add hash to url
         // (default click behaviour)
         window.location.hash = hash;
        });
      });
    });
</script>
